body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul, ol{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

 /*Header */
 .navi-logo, .final-logo{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    letter-spacing: 0.03em;
 }

 .navi-logo{
margin-right: 76px;
 }

 .navi-logo .accent{
    color: #2e2f42;
 }

.navi-link{
    font-weight: 500;
    text-decoration: none;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
 }
 
.address{
    font-style: normal;
    margin-left: auto;
}

.address-link {
    text-decoration: none;
    color: inherit;
}

 .navi-link:hover,
 .navi-link:focus,
 .address-link:hover,
 .address-link:focus{
    color: #404BBF;
 }



 /*Section 1*/

 .section-one{
    color: #FFFFFF;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
 }

 .button{
    color: currentColor;
    background-color: #4D5AE5;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }


 .button:hover,
 .button:focus{
    background-color: #404BBF;
 }

 /*h1*/
.page-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

/*h2*/
.section-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

/*h3*/
.title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
}

.text{
    color: #434455;
}

.list{
    list-style-type: none;
}

.section-card {
    background-color: #FFFFFF;
}

.section-two,
.section-three,
.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-three{
    background-color: #F4F4FD;
}

/*final*/
.final-section{
    background-color: #2E2F42;
    color: #F4F4FD;
}

.final-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.final-logo .accent,
.final-section .text{
    color: #f4f4fd;
}

.final-section .text{
    width: 264px;
}

.final-logo{
    display: inline-block;
    margin-bottom: 16px;
}

.flex-container-one{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.flex-container-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.flex-container-three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.navi{
    display: flex;
    align-items: center;
}

.head{
    border-bottom: 1px solid #e7e9fc;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two .flex-card{
    width: calc((100% - 72px) / 4);
}

.section-three .flex-card{
    border-radius: 0px 0px 4px 4px;
}

.section-four .flex-card{
    width: calc((100% - 48px) / 3);
}

.name-text{
    padding-top: 32px;
    padding-bottom: 32px;
}

.name-category{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.section-three .text,
.section-three .title{
    text-align: center;
}